<style type="text/css">
  .page_heading {
    border-color: #d2d3d4;
    background-color: #f6f6f6;
    background-size: auto;
    height: 87px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: table;
    position: relative;
    width: 100%;
    /*padding: 0px 25px;*/
    top: 95px;
  }

  .container-area {
    margin-top: 112px;
    padding: 0px 25px;
  }

  .page_heading h2 {
    margin-top: 25px;
  }

  .text_center {
    text-align: center;
  }
</style>
<section class="page_heading text_center">
  <h2>Unauthorized Access</h2>
</section>
<section class="container-area">
    <table style="width:100%;text-align:center;">
      <tr>
        <td>
          <img src="/img/401.png">
          <h3>Unauthorized</h3>
          <h4>Proper authorization is required to access this resource!</h4>
        </td>
      </tr>
      <tr>
        <td>
          <button onclick="window.parent.location.href='/logout'" class=""> Log out</button>
        </td>
      </tr>
    </table>
</section>
</div>
